<h2 class="text-2xl mb-6">Beitrag löschen</h2>

<p class="mb-6">Sind Sie sicher dass Sie diesen Beitrag wirklich entgültig löschen möchten?</p>

<form method="post" action="{{ route('post.destroy', {post: post, team: post.team}) }}">
    {{ csrf_field() }}

    <div class="flex flex-wrap mb-5 relative">
        <button class="mr-3">
            {% include "component/button/button" with {text: "löschen", cta: true} %}
        </button>
    </div>

</form>
