{% if cta == true %}
    <span class="inline-block bg-torch py-0 px-12 text-white rounded font-bold text-s hover:bg-torch-hover cursor-pointer">{{ text }}</span>
{% else %}
    <span class="inline-block bg-midnight py-0 px-12 text-white rounded font-bold text-s hover:bg-midnight-hover cursor-pointer">{{ text }}</span>
{% endif %}