<div class="border-t border-gray-150 py-12 container max-w-container mx-auto relative">

    <div class="sm:absolute sm:right-0 sm:top-0 text-center sm:text-right sm:mx-6 sm:my-6">
        <a href="http://muko-berlin-brandenburg.de">Landesverband</a> | <a href="http://muko-berlin-brandenburg.de/kontakt/">Kontakt</a> | <a href="http://muko-berlin-brandenburg.de/datenschutz/">Datenschutz</a> | <a href="http://muko-berlin-brandenburg.de/impressum/">Impressum</a>
    </div>

    <div class="sm:absolute sm:left-0 sm:top-0 text-center sm:text-left sm:mx-6 my-6 text-gray-177">
        <a class="inline-block mr-1 w-8 mr-1 text-magenta" href="https://www.instagram.com/mukoverband/" target="_blank">{% include('component/icons/instagram') %}</a><a class="inline-block ml-1 w-8 ml-1 text-primary" href="https://www.facebook.com/muko.berlin.brandenburg/" target="_blank">{% include('component/icons/facebook') %}</a>
    </div>
</div>
