<h2 class="text-2xl mb-6">Sponsor löschen</h2>

<form method="post" action="{{ route('sponsor.delete', {sponsor: sponsor}) }}">
    {{ csrf_field() }}

    <p class="mb-6">Möchten Sie den Sponsor {{sponsor.name}} wirklich entfernen?</p>

    <div class="flex flex-wrap mb-5 relative">
        <button>
            {% include "component/button/button" with {text: "Sponsor löschen", cta: true} %}
        </button>
    </div>
</form>